*~
db.sqlite3
__pycache__
*.pyc
*.swn
*.swo
*.swp
*.egg-info
.coverage*
htmlcov
venv/
*-venv/

set-secrets.*sh

.cache

Cakefile.js
app/coffee/*.js
app/static/compiled-js/

app/test.db

generated/

node_modules/
npm-debug.log

ghostdriver.log
