<!DOCTYPE html>
<html>
<head>
<link href="/static/index.css" rel="stylesheet" type="text/css">
<!-- following meta is needed by Persona -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Go</title>
</head>
<body>

<style>
.alpha-alert {
    height:50px;
    background:#d9542b;
    display:block;
    padding: 5px;
    border:5px solid #CCC;
    width:960px;
    margin:0 auto;
}
</style>

<div class="alpha-alert">
Caution: the site you are viewing is very much a site in the initial stages of
development. The goal is to eventually have a web site suitable for turn-based
Go games. We are not there yet, and things will likely change. You can start a
game against a friend, but there is a chance that your game will simply be
dropped at some point. This is very much, use with no expectations.
</div>

{% if current_user_email %}
<div class="logged_in_user">Logged in as: {{ current_user_email }}</div>
<a href="#" id="logout">Log out</a>
{% else %}
<a href="#" id="persona_login">Login with Persona</a>
{% endif %}

{% if current_user_email %}
<div id="main_menu">
    <ul>
        <li><a href="{{ url_for('status') }}">Status</a></li>
        <li><a href="{{ url_for('challenge') }}" id='challenge_link'>Challenge a player</a></li>
    </ul>
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<script>
window.tesuji_charm = {
    currentUserEmail: "{{ current_user_email }}",
    currentPersonaEmail: "{{ current_persona_email }}",
};
</script>
<script src="/static/jquery.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/persona.js"></script>
<script>
tesuji_charm.persona.initialize(navigator);
</script>
{% block page_scripts %}
{% endblock %}
</body>
</html>
