{% extends "base.html" %}
{% set active_page = "create_account" %}
{% block content %}
<style>
body{
   background-color: #f5f5f5;
}

#account-form-container{
  margin: 0 auto 20px;
  max-width: 300px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

#submit-create-account{
  margin-top: 10px;
}

</style>

<div id="account-form-container">
<form id="new_account_form" method="POST"
      action="{{ url_for('create_account') }}" class="form-group">
      <h3>Create a new account</h3>
    {{ form.hidden_tag() }}
    {{form.username(size=30, class="form-control", placeholder="Username")}}
    {{form.password1(size=30, class="form-control", placeholder="Password")}}
    {{form.password2(size=30, class="form-control", placeholder="Repeat Password")}}
    <input id="submit-create-account" type="submit" value="Create account"
           class="btn btn-large btn-primary">
</form>
</div><!-- /#account-form-container -->
{% endblock %}
