{% extends "base.html" %}

{% block content %}

{% if size is undefined %}
    {% set size = 19 %}
{% endif %}

<style>

.goban {
    width: {{20 * size}}px;
    height: {{20 * size}}px;
    margin: 10px;
    border: 2px solid;
    padding: 10px;
    resize: both;
    overflow: auto;
}

.goban-row{
    margin: 0;
    height: {{100.0 / size}}%;
    width: 100%;
}

.gopoint {
   float: left;
   background: #CB9546;
   height: 100%;
   width: {{100.0 / size}}%;
   position: relative;
   /* z-index: 500; the stack order: foreground */
   margin: 0;
}

.board_line {
    background: #000000;
}

.board_line_vertical{
    left: 45%;
    position: absolute;
    height: 55%;
    width: 10%;
}

.board_line_bottom_vertical{
    top: 45%;
}

.board_line_horizontal{
    top: 45%;
    position: absolute;
    height: 10%;
    width: 55%;
}

.board_line_right_horizontal{
    left: 50%;
}

.stone {
  width: 80%;
  height:80%;
  border: 2px solid #ddd;
  border-radius: 80%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

.placement {
  /* This kind of needs to be width and height 100% so that hovering anywhere
     within the point works, otherwise the placement element has no width or
     height and hence is never hovered over. We also require it to have zero
     opacity so that the actual go point behind it (the color of the go board
     itself) is visible.
  */
  opacity: 0;
  width: 100%;
  height: 100%;
}
.placement:hover {
  opacity: 0.7;
  width: 80%;
  height:80%;
  border: 2px solid #ddd;
  border-radius: 80%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

.dead{
    opacity: 0.5;
}

.gopoint .black{
    background: #000000;
}

.gopoint .white{
    background: #ffffff;
}

.neutral{
    background: #f52712;
}

.territory{
    width: 30%;
    height: 30%;
    position: absolute;
    left:35%;
    top:35%;
}

.handicappoint {
  width: 30%;
  height:30%;
  background: #000000;
  border-radius: 100%;
  position: absolute;
  left: 35%;
  top: 35%;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

</style>


<div id="content"></div>

{% if on_turn %}
<form id="main_form"
      method="POST" action="{{ url_for('play', game_no=game_no) }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="confirm_button" name='confirm_button'>Confirm</button>

    {% if with_scoring %}
    <button type="button"
            class="resume_button" name='resume_button'>Resume</button>
    {% else %}  <!-- if with_scoring -->
    <button type="button"
            class="pass_button"  name='pass_button'>Pass</button>
    <button type="submit"
            class="resign_button" name='resign_button'>Resign</button>
    {% endif %}  <!-- if with_scoring -->

</form>
{% else %}  <!-- if on_turn -->
<form method="POST" action="/404">
    <!-- provide a form to supply the hidden data field -->
    {{ form.hidden_tag() }}
</form>
{% endif %}  <!-- if on_turn -->

{% endblock %}

{% block page_scripts %}
<script src="/static/compiled-js/go_rules.js"></script>
<script src="/static/compiled-js/smartgame.js"></script>
<script src="/static/compiled-js/game_common.js"></script>
{% if on_turn %}
{% if with_scoring %}
<script src="/static/compiled-js/game_marking.js"></script>
<script>
window.tesuji_charm.game_marking.initialize();
</script>
{% else %}  <!-- if with_scoring -->
<script src="/static/compiled-js/game_basic.js"></script>
<script>
window.tesuji_charm.game_basic.initialize();
</script>
{% endif %} <!-- if with_scoring -->
{% else %}  <!-- if on_turn -->
<script>
 window.tesuji_charm.game_common.initialize();
</script>
{% endif %} <!-- if on_turn-->
{% endblock %}
