{% extends "base.html" %}

{% block content %}
<div id="content"></div>

{% if with_scoring %}
<form method="POST" action="{{ url_for('markdead') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="confirm_button" name='confirm_button'>Confirm</button>
</form>
<form method="POST" action="{{ url_for('resumegame') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="resume_button" name='resume_button'>Resume</button>
</form>

{% else %}
{% if on_turn %}
<form method="POST" action="{{ url_for('playstone') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="confirm_button" name='confirm_button'>Confirm</button>
</form>
<form method="POST" action="{{ url_for('playpass') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="pass_button" name='pass_button'>Pass</button>
</form>
<form method="POST" action="{{ url_for('resign') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="resign_button" name='resign_button'>Resign</button>
</form>
{% else %}
<form method="POST" action="/404">
    <!-- provide a form to supply the hidden data field -->
    {{ form.hidden_tag() }}
</form>
{% endif %}  <!-- end on_turn -->
{% endif %}  <!-- end not with_scoring -->

{% endblock %}

{% block page_scripts %}
<script src="/static/compiled-js/go_rules.js"></script>
<script src="/static/compiled-js/smartgame.js"></script>
<script src="/static/compiled-js/game_common.js"></script>
{% if with_scoring %}
<script src="/static/compiled-js/game_marking.js"></script>
<script>
window.tesuji_charm.game_marking.initialize();
</script>
{% else %}
{% if on_turn %}
<script src="/static/compiled-js/game_basic.js"></script>
<script>
window.tesuji_charm.game_basic.initialize();
</script>
{% else %}
<script>
 window.tesuji_charm.game_common.initialize();
</script>
{% endif %} <!-- end if on_turn-->
{% endif %} <!-- end if with_scoring -->
{% endblock %}
