{% extends "base.html" %}

{% block content %}
<table class="goban">
    {% for row in goban %}
    <tr>
        {% set rowloop = loop %}
        {% for point in row %}
        <td class="{{ point['classes'] }}">
            {% if on_turn %}
            <a href="#"><img src="{{ point['img'] }}" /></a>
            {% else %}
            <img src="{{ point['img'] }}" />
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% if with_scoring %}
<form method="POST" action="{{ url_for('markdead') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="confirm_button" name='confirm_button'>Confirm</button>
</form>

{% else %}
<form method="POST" action="{{ url_for('playstone') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="confirm_button" name='confirm_button'>Confirm</button>
</form>
{% if on_turn %}
<form method="POST" action="{{ url_for('playpass') }}">
    {{ form.hidden_tag() }}
    <button type="submit"
            class="pass_button" name='pass_button'>Pass</button>
</form>
{% endif %}

{% endif %}  <!-- end not with_scoring -->

{% endblock %}

{% block page_scripts %}
<script src="/static/go_rules.js"></script>
<script src="/static/game_common.js"></script>
{% if with_scoring %}
<script src="/static/game_marking.js"></script>
<script>
window.tesuji_charm.game_marking.initialize();
</script>
{% else %}
<script src="/static/game_basic.js"></script>
<script>
window.tesuji_charm.game_basic.initialize();
</script>
{% endif %}
{% endblock %}
