{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}

{% macro display_game_list(the_games_list) -%}
    <table class="table">
        <thead>
            <tr>
                <th>Game Link</th>
                <th>Your Color</th>
                <th>Opponent</th>
            </tr>
        </thead>
        <tbody>
            {% for game in the_games_list %}
            <tr>
                <td><a href="{{ url_for('game', game_no=game.id) }}" 
                       class="btn btn-default" role="button">{{game.id}}</a></td>
                <td>{{game.player_color(current_user)}}</td>
                <td>{{game.player_opponent(current_user)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endmacro %}


<div id="your_turn_games" class="panel panel-success">
    <div class="panel-heading">Your turn in the following games:</div>
    {{display_game_list(your_turn_games)}}
</div>
<div id="not_your_turn_games" class="panel panel-warning">
    <div class="panel-heading">Your Other Running Games:</div>
    {{display_game_list(not_your_turn_games)}}
</div>
<div>
    <a href="{{ url_for('finished') }}" class="finished_games_link">
        Finished games
    </a>
</div>
{% endblock %}
