{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}
{% from 'game_list.html' import display_game_list %}

{% if unread_notifications %}
    <div id="unread-notifications" class="panel panel-info">
        <div class="panel-heading">Notifications</div>
            <ul class="list-group">
                {% for notification in unread_notifications %}
                    <li class="list-group-item unread notification">
                        {{notification.content}}
                    </li>
                {% endfor %}

            </ul><!-- /.list-group -->
    </div><!-- /#unread-notifications -->
{% endif %} <!-- End unread notifications -->



{{display_game_list('your_turn_games', 'success',
                    'Your turn in the following games',
                    your_turn_games, current_user, False)}}
{{display_game_list('not_your_turn_games', 'warning',
                    'Waiting for your opponents in the following games',
                     not_your_turn_games, current_user, False)}}
<div>
    <a href="{{ url_for('finished') }}" class="finished_games_link">
        View finished games
    </a>
</div>
{% endblock %}
